body {
    margin: 0;
    padding: 10px;
    align-items: center;
    background: #deddfa;}
   
h3 {
    padding: 10px;
    color: #1b262c;
    text-align: center;

}

#hist {
    padding: 10px;
    color: #1b262c;
    background: #dab8f3;
    text-align: justify;
    border: 10px;
    border-color: aliceblue;
}

#geo {
    padding: 10px;
    color: #1b262c;
    background: #ea7ad7;
    text-align: justify;
    border: 10px;
    border-color: aliceblue;
}

#bio {
    padding: 10px;
    color: #1b262c;
    background: #fd2eb3;
    text-align: justify;
    border: 10px;
    border-color: aliceblue;
}

#hist p {
    text-align: center;
    padding: 10px;
}

#geo p {
    text-align: center;
    padding: 10px;
}

#bio p {
    text-align: center;
    padding: 10px;
}